.cont-about {
  position: relative;
  width: 100%;
  height: 45vh;
  background-color: black;
}
.cont-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-about h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* src/Gallery.css */

.gallery {
  margin-top: 70px;
  padding: 20px;
  text-align: center;
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.image-item {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pagination {
  margin-top: 60px;
}
.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #343432;
  cursor: not-allowed;
}

/* Media Queries */
@media (max-width: 1200px) {
  .cont-about {
    height: 40vh;
  }
  .cont-about h1 {
    top: 65%;
  }
  .image-item {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 992px) {
  .cont-about {
    height: 35vh;
  }
  .cont-about h1 {
    top: 60%;
  }
  .image-item {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .cont-about {
    height: 30vh;
  }
  .cont-about h1 {
    top: 55%;
  }
  .image-grid {
    gap: 30px;
  }
  .image-item {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .cont-about {
    height: 25vh;
  }
  .cont-about h1 {
    top: 50%;
  }
  .image-grid {
    gap: 20px;
  }
  .image-item {
    width: 600px;
    height: 150px;
  }
  .pagination {
    margin-top: 30px;
  }
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
  }
}
